/* assets/css/custom.css */

.masthead {
  position: relative;
  overflow: hidden;
}

.header-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
/* Esto es lo que debes agregar */
#callout-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 400px; 
}

.lang-selector-fixed .btn,
.lang-selector-fixed .dropdown-item {
  cursor: pointer; /* cambia el cursor al pasar el mouse */
  transition: background-color 0.2s, color 0.2s; /* efecto suave */
}

/* Efecto al pasar el mouse */
.lang-selector-fixed .btn:hover {
  background-color: #e0e0e0; /* un gris suave */
}

.lang-selector-fixed .dropdown-item:hover {
  background-color: #f0f0f0; /* efecto al pasar sobre las opciones */
  color: #000; /* opcional, para resaltar el texto */
}
