/* assets/css/custom.css */

.masthead {
  position: relative;
  overflow: hidden;
}

.header-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
/* Esto es lo que debes agregar */
#callout-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 400px; 
}
#callout-section .container h2 {
  font-size: 3rem;
