/* assets/css/custom.css */

.masthead {
  position: relative;
  overflow: hidden;
}

.header-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
/* Esto es lo que debes agregar */
#callout-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
  min-height: 400px; 
}

.lang-selector-fixed .btn {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer; /* hace que el cursor cambie a mano */
  transition: background-color 0.2s, transform 0.1s; /* efecto suave */
}

.lang-selector-fixed .btn:hover {
  background-color: #e0e0e0; /* cambio de color al pasar el mouse */
  transform: translateY(-1px); /* efecto sutil de “levantarse” */
}

